<main class="main-verTarea">

    <h1>Informacion de la tarea</h1>

    <div>
    
        <h1>@ViewBag.Tarea.titulo</h1>
        <h1>@ViewBag.Tarea.descripcion</h1>
        <h1>@ViewBag.Tarea.fecha</h1>
        <h1>@ViewBag.Tarea.finalizada</h1>

        <a href='@Url.Action("eliminarTarea", "Home", new {idTarea="@ViewBag.Tarea.ID")'>Eliminar Tarea</a>

    </div>

</main>